<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Baseball Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Articles Saved</a></li>
      <li><a class="btn btn-primary scrape-new">Grab A New Article!</a></li>
    </ul>
  </div>
</nav>
